[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keras = "==2.1.5"
tensorflow = "*"

[dev-packages]
ipython = "*"
ipdb = "*"
pudb = "*"
pytest = "*"
pylint = "*"

[requires]
python_version = "3.6"
